<form class="form" #formtemp="ngForm" (submit)="add(formtemp)">
  <div class="mb-3">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-2">
        <br /><br />
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            type="text"
            minlength="3"
            placeholder="Nombre"
            required
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="contact.name"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Socio</mat-label>
          <input
            matInput
            type="number"
            placeholder="Socio"
            required
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="contact.member"
            readonly
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input
            matInput
            type="number"
            placeholder="Teléfono"
            maxlength="9"
            oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            pattern="^[0-9]{9}$"
            required
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="contact.phone"
          />
        </mat-form-field>

      </div>
      <div class="col-2">
        <br /><br />
        <mat-form-field appearance="outline">
          <mat-label>Apellidos</mat-label>
          <input
            matInput
            type="text"
            minlength="3"
            placeholder="Apellido/s"
            required
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="contact.surnames"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>DNI</mat-label>
          <input
            matInput
            type="text"
            placeholder="DNI"
            maxlength="9"
            required
            pattern="^[0-9]{8,8}[A-Za-z]$"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="contact.dni"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Sexo</mat-label>
          <mat-select
            placeholder="Sexo"
            required
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="contact.gender"
          >
            <mat-option>None</mat-option>
            <ng-container *ngFor="let gender of genders">
              <mat-option value="{{ gender.id }}">{{
                gender.value
              }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="button-row">
        <button mat-raised-button color="warn" type="submit">Añadir</button>
      </div>
    </div>
  </div>
</form>

<mat-card class="card">
  <h2>Lista de miembros del gimnasio:</h2>
  <mat-list>
    <mat-list-item *ngFor="let cont of contacts; let i = index">
      <p>Nombre y apellidos: {{ cont.name }} {{ cont.surnames }}</p>
      <p>Socio: {{ cont.member }}</p>
      <p>Dni: {{ cont.dni }}</p>
      <p>Teléfono: {{ cont.phone }}</p>
      <p>Sexo: {{ cont.gender }}</p>

      <button
        class="button"
        mat-flat-button
        color="primary"
        (click)="update(i)"
      >
        Editar
      </button>
      <button class="button" mat-flat-button color="warn" (click)="delete(i)">
        Borrar
      </button>
    </mat-list-item>
  </mat-list>
</mat-card>
